{
    "api": {
        "endpoint": "https://cryptohack.org/wechall/userscore/",
        "authkey": "<FILL IN HERE>"
    },
    "levels": {
        "points": [0, 10, 20, 40, 80, 160, 320, 640, 1280, 1920, 2560, 3200, 3840, 4480, 5120, 5760, 6400, 7040, 7680, 8320, 8960, 9600, 10240, 10880, 11520],
        "names": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25"]
    },
    "db": {
        "provider": "sqlite",
        "filename": ":memory:",
        "create_db": true
    },
    "discord": {
        "token": "<FILL IN HERE"
    }
}
